:root {
  --red: #e63946;
  --dark-red: #8a111b;
  --white: #f1faee;
  --light-blue: #a8dadc;
  --blue: #457b9d;
  --dark-blue: #1d3557;
  --green: #b9fbc0;
}

html,
body,
#root {
  height: 100%;
  text-align: center;
  background-color: var(--white);
}